@media (min-width: 768px){
	.main-content .container-fluids {
	    padding-right: 15px !important;
	    padding-left: 15px !important;
	    margin-top: 10px;
	}
}

table.dataTable thead .sorting {
    background-image: unset;
}

.primary{
    background-color: #6772e5;
    color: white;
}

body {
	background-color: unset;
	font-size: 14px;
}

.select2-container {
    width: 100% !important;
    margin-top: 10px;
}

.select2-container--bootstrap .select2-selection {
    border: none;
    -webkit-box-shadow: unset; 
    box-shadow: unset;
    border-bottom: 1px solid #6772e5;
}

.select2-container .select2-selection--single {
    height: 25px;
}

#navbar-main{
	background-color: #6772e5;
}

.ct-page-title {
    padding-left: 1.25rem;
    border-left: 2px solid #5e72e4;
    margin-bottom: 1.5rem;
}

.form-inline, .form-inline label {
    display: unset;
}

.dataTables_wrapper label{
	margin-bottom: .5rem;
}

.form-control, .form-group .form-control {
	height: 35px;
    border: 0;
    padding: 5px 5px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#009688),to(#009688)),-webkit-gradient(linear,left top,left bottom,from(#6772e5),to(#6772e5));
    background-image: -webkit-linear-gradient(#009688,#009688),-webkit-linear-gradient(#6772e5,#6772e5);
    background-image: -o-linear-gradient(#009688,#009688),-o-linear-gradient(#6772e5,#6772e5);
    background-image: linear-gradient(#009688,#009688),linear-gradient(#6772e5,#6772e5);
    -webkit-background-size: 0 2px,100% 1px;
    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center -webkit-calc(100% - 1px);
    background-position: center bottom,center calc(100% - 1px);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

textarea.form-control{
	height: 124px !important;
}

.page-item .page-link, .page-item span {
    font-size: 12px;
    display: flex;
    width: unset;
    min-width: 36px;
    height: 36px;
    margin: unset;
    padding: 12px 8px;
    border-radius: unset !important;
    align-items: center;
    justify-content: center;
}

.fixed-save{
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.table-sm th,
.table-sm td
{
    padding: .3rem;
}